iso3166-updates
iso3166
pandas
beautifulsoup4
google-cloud-storage
requests
emoji-country-flag
selenium
lxml
gunicorn==23.0.0
Flask
tqdm
PyGithub
python-dateutil
fake_useragent
# chromedriver-binary==77.0.3865.40.0
# requests==2.9.1
# urllib3>=1.26.15,<2
# webdriver-manager