name: Build and Deploy to Cloud Run

on:
  #allow for workflow to be manually initiated from the Actions tab
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and Deploy to Cloud Run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: iso3166-updates
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Authenticate Docker with Artifact Registry
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and Push Docker Image to Artifact Registry
        run: |
          IMAGE="us-central1-docker.pkg.dev/iso3166-updates/cloud-run-deployments/check_for_updates"
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Deploy to Cloud Run
        run: |
          gcloud beta run deploy check-for-updates \
            --image us-central1-docker.pkg.dev/iso3166-updates/cloud-run-deployments/check_for_updates \
            --region us-central1 \
            --platform managed \
            --memory 2Gi \
            --timeout 1800 \
            --service-account=${{ secrets.GCP_SA_EMAIL }} \
            --env-vars-file=env.yaml